<!doctype html>
<html>
  <head>
    {{#if title}}
      <title>{{title}} &mdash; Not And Xor</title>
    {{/if}}
    {{#unless title}}
      <title>Not And Xor</title>
    {{/unless}}
    {{#if canonicalUrl}}
      <link rel="canonical" href="{{canonicalUrl}}"/>
    {{/if}}
    {{#each javascript.scripts}}
      <script nomodule defer="defer" src="{{this}}"></script>
    {{/each}}
    {{#each javascript.modules}}
      <script type="module" defer="defer" src="{{this}}"></script>
    {{/each}}
    {{#each scriptsInline}}
      <script>{{{this}}}</script>
    {{/each}}
    {{#each stylesheets}}
      <link type="text/css" rel="stylesheet" href="{{this}}"/>
    {{/each}}
    {{#if favicon}}
      {{{ favicon }}}
    {{/if}}
  </head>
  <body>
    <header class="header">
      <h1><a href="/">Not And Xor</a></h1>
    </header>
    <main class="content">
      {{> @partial-block }}
    </main>
    <footer class="footer">
      <div class="copyright">
        &copy; 2020 Maxime Bacoux. Some rights reserved.
      </div>
    </footer>
    {{#each ld}}
      <script type="application/ld+json">{{{this}}}</script>
    {{/each}}
  </body>
</html>
