<article class="post">
  <h1>{{ post.title }}</h1>
  <div class="post-date">{{date post.date}}</div>
  {{#if post.tags}}
    <nav class="post-tags">Tags:
      <ul>
        {{#each post.tags}}
          <li><a class="post-tag" href="/tag/{{{this}}}">{{this}}</a></li>
        {{/each}}
      </ul>
    </nav>
  {{/if}}
  {{#if preview}}
    <div class="post-body">{{{ post.htmlPreview }}}</div>
    <a href="/{{{ post.slug }}}">Read more...</a>
  {{/if}}
  {{#unless preview}}
    <div class="post-body">{{{ post.html }}}</div>
  {{/unless}}
</article>
